{{define "albums"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Jul - Albums</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/style/albums.css">
    </head>
    <body>
        <div class="Artist">
            <img src="/assets/images/jul.png" alt="photo de Jul" class="profile">
            <h1>JUL</h1>
        </div>
        <h2 class="pageTitle">Tous les albums</h2>
        {{range .}}
            <div class="album">
                <div>
                    <img src={{.ImageLink}} alt="couverture de l'album" style="width:35%;margin-bottom:0%;">
                </div>
                <div class="info">
                    <h2 class="title">{{.Name}}</h2>
                    <p class="total">Nombre de musiques: {{.Nb}}</p>
                    <p class="release">Sortie: {{.Date}}</p>
                </div>
            </div>
        {{end}}
    </body>
</html>
{{end}}