{{define "bolide allemand"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SDM - Bolide Allemand</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/style/Bolide Allemand.css">
    </head>
    <body>
        <div class="track">
            <div class="cover">
                <img src={{.AlbumCover}} alt="couverture de l'album">
            </div>
            <div class="info">
                <h1>{{.Name}}</h1>
                <h2>{{.Artist}}</h2>
                <p class="date">Sortie: {{.Date}}</p>
                <p>Album: {{.Album}}</p>
            </div>
        </div>
    </body>
</html>
{{end}}