body {
    background-color: #000000;
    color:#aeaeae
}

.track{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}